# Dex OIDC config for Daytona (self-hosted)
# Based on daytona/docker/dex/config.yaml
issuer: http://localhost:15556/dex
storage:
  type: sqlite3
  config:
    file: /var/dex/dex.db

web:
  http: 0.0.0.0:5556
  allowedOrigins: ['*']
  allowedHeaders: ['x-requested-with']
staticClients:
  - id: daytona
    redirectURIs:
      - 'http://localhost:13000'
      - 'http://localhost:13000/api/oauth2-redirect.html'
      - 'http://localhost:13009/callback'
      - 'http://localhost:14000/callback'
    name: 'Daytona'
    public: true
enablePasswordDB: true
staticPasswords:
  - email: 'dev@daytona.io'
    # password: "password" (htpasswd -BinC 10)
    hash: '$2a$10$2b2cU8CPhOTaGrs1HRQuAueS7JTT5ZHsHSzYiFPm1leZck7Mc8T4W'
    username: 'admin'
    userID: '1234'
